html { 
  height: 100% ;
  /*background: url('../images/big-images/nature_big_5.jpg'); */
  color: #fff; 
  text-shadow: none;
}
body { 
  background-image: url('../images/big-images/123.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color:white;
 }
